<div class="hover:box-border h-max p-20 bg-gray-300 text-center text-3xl">
    <h1 class = "grid grid-cols-1 mx-80 shadow-lg font-bold">Colegio de Bachillerato "26 de Noviembre"</h1>
    <div class = "grid grid-cols-1 mt-10"><img src="https://pbs.twimg.com/media/D3ULpomW4AExwpm.jpg"></div>
    </div>

    <div class = "grid grid-cols-3 mt-20">
        <div class = "bg-orange-600">A</div>
        <div class = "bg-orange-600">A</div>
        <div class = "bg-orange-600">A</div>
        <div class = "bg-orange-600">A</div>
    </div>