<body class="bg-blue-500 mt-40">
    <form action="" class="bg-white w-80 mx-auto mt-8 rounded-lg p-6">
        <input class="border border-gray-300 w-full px-3 py-2 mb-4 rounded-md" type="text" placeholder="Nombre">
        <input class="border border-gray-300 w-full px-3 py-2 mb-4 rounded-md" type="email" placeholder="Correo">
        <input class="border border-gray-300 w-full px-3 py-2 mb-4 rounded-md" type="password" placeholder="Contraseña">
        <input class="bg-blue-500 w-full py-2 text-white rounded-md cursor-pointer
        hover:bg-blue-400" type="submit" value="Ingresar">
    </form>
</body>

